.body {
  /*background-image: url("../chicago.jpg");*/

}

.click-to-see a {
  display: block;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

/*.d3-wrapper {
  position: fixed;
}*/

.load-animation {
  position: fixed;
  margin-left: 45%;
  margin-top: 10%;  
  background-image: url("../img/ripple.gif");
  display: none;
}

.map-wrapper {
  margin-left: 10%;
  float: left;
  width: 30%;
}

.see-by-ward {
  left: 75%;
}

.see-by-crime-count {
  left: 45%;
}
 
.specific-data {
  margin-left: 10%;
  float: right;
  width: 30%;
}

.ward {
/*  display: none;*/
}

.ward-info {
  padding-left: 8%;
  display: inline-block;
  width: 30%;
  position: fixed;
}









