.body {
  background-image: url("../chicago.jpg");

}

.ward {
/*  display: none;*/
}

.ward-info {
  position: fixed;
   margin-left: 18%;
   width: 100%;
   display: block;
}

.specific-data {
  margin-left: 66%;
  position: fixed;
}

.click-to-see a {
  display: block;
    color: white;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

p {
  color: white;
}



