<div class="wrapper"></div>
  <h3 class="yo">Crimes per ward</h3>
  <h1 class="click-to-see"><a class="link-ward see-by-ward"href="/cases/wards">Click To See By Ward</a> </h1>
  <h1 class="click-to-see"><a class="link-ward see-by-crime-count"href="/cases/wards">Click To See By Crime Count</a> </h1>

  <div class="d3-wrapper">
    <span class="load-animation" style="background:url(../img/dashinfinity.gif) no-repeat center center;width:150px;height:150px;"></span>  
  </div>
  <div class="ward-wrapper">
    <article class="map-wrapper"></article>
    <article class="ward-info"></article>
    <article class="specific-data"></article>
  </div>
</div>
<script src="/js/map.js"></script>