<h3 class="yo">Crimes per ward</h3>
<h1 clas="click-to-see"><a class="link-ward"href="/cases/wards">Click To See</a> </h1>
<div class="d3-wrapper"></div>

<div class="ward-wrapper">
  <article class="ward-info"></article>
  <article class="specific-data"></article>
</div>

